@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

form{
    /* Quando inseri os elementos abaixo, o retangulo ficou à esquerda.
    height: 100vh;
    width: 400px;
    background-color: #3C0E0E;
    */
    color:#3C0E0E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

body{
    background-color: #F7F2E8;
}

header{
    display: flex;
    justify-content: space-between;
    padding-left: 220px;
    padding-right: 220px;
    /*ou padding: 0 220px; ou duas vezes 0 220px;*/
    align-items: center;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

    /*AGRUPAMENTO DE SELETORES: SO AFETA AS DIV DENTRO DESSE HEADER*/

    & div{
        display: flex;
        align-items: center;

        & a{
            margin-left: 30px;
            font-size: 20px;
            color: #3C0E0E;
            font-weight: 500px;
            transition-duration: 0.1s;

            &:hover{
            border-bottom: 5px solid #3C0E0E;
            }

            &.btn{
                background-color:#3C0E0E;
                color:white;
                padding: 5px 26px 0 26px;
                border-radius: 30px;
            }
        }
    }
}

#topo{
    padding: 0 220px;
    display: flex;
    justify-content: space-between;

    & div:first-child{
        padding-left: 30px;
        padding-top: 160px;
        color: #3C0E0E;
    
        & h1{
            font-size: 24px;
            margin-bottom: 8px;
        }
        & h2{
            font-size: 80px;
            line-height: 84px;
            margin-bottom: 20px;
        }

        p{
            width: 350px;
        }

    }   

}

#cafés{
    margin-top: 70px;
    padding: 0 220px;
    display: flex;
    justify-content: center;
    flex-direction:column;

    .alinhamento{
    display: flex;
    justify-content: center;
    text-align: center;
    }

    h1{
        font-weight: 600;
    }

    p{
        width: 550;
    }
    
    ul{
        list-style-type: none;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        

        & li{
            width: 325px;
            height: 470px;
            margin: 70px;
            border-radius: 30px;
            background-image: linear-gradient(#f6c7c5, #c27d7a);
            color: white;

            h1{
                font-size: 16px;
            }

            h2{
                font-size: 36px;
                font-weight: normal;
            }

            p{
                padding: 5px;
            }

            
            
        }
    }
    
    button{
        margin-top: 20px;
        border: none;
        background-color: white;
        padding: 16px;
        width: 300px;
        font-weight: bold;
        font-size: 16px;
        border-radius: 30px;
    }
}

#croissants{
    margin-top: 70px;
    display: flex;
    justify-content: center;
    flex-direction: space-between;
    
    & div{
        padding-right: 270px;
    }

    h1{
        font-size: 16px;
        background-color: white;
        color:#f6c7c5;
        border-radius: 30px;
        text-align: center;
        width: 80px;
    }

    h2{
        font-size: 80px;
        font-weight: 700;
        color:#3C0E0E;
    }

    h3{
        font-weight: normal;
        font-size: 40px;
        margin-bottom: 15px;
        color:#3C0E0E
    }

    p{
        width: 300px;
        color:#3C0E0E
    }

}