@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

form {
    color: #3C0E0E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

body {
    background-color: #F7F2E8;
}

header {
    display: flex;
    justify-content: space-between;
    padding-left: 220px;
    padding-right: 220px;
    /*ou padding: 0 220px; ou duas vezes 0 220px;*/
    align-items: center;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

    /*AGRUPAMENTO DE SELETORES: SO AFETA AS DIV DENTRO DESSE HEADER*/

    & div {
        display: flex;
        align-items: center;

        & a {
            margin-left: 30px;
            font-size: 20px;
            color: #3C0E0E;
            font-weight: 500px;
            border-bottom: 5px solid transparent; /*desabilita o detalhe em delivery*/
            transition-duration: 0.2s;

            &:hover {
                border-bottom: 5px solid #3C0E0E; /*habilita o detalhe*/
            }

            &.btn {
                background-color: #3C0E0E;
                color: white;
                padding: 5px 26px 0 26px;
                border-radius: 30px;
            }
        }
    }
}

#topo {
    padding: 0 220px;
    display: flex;
    justify-content: space-between;

    & div:first-child {
        padding-left: 40px;
        padding-top: 160px;
        color: #3C0E0E;

        & h1 {
            font-size: 24px;
            margin-bottom: 8px;
        }

        & h2 {
            font-size: 80px;
            line-height: 84px;
            margin-bottom: 20px;
        }

        p {
            width: 350px;
        }

    }

}

#cafés {

    background-image: url("./assets/cafe-bg.png"); /*PONTO BARRA, DAÍ APARECE A PASTA.*/
    background-size: contain;
    background-repeat: no-repeat;

    /*Outras partes aqui foram alteradas em relação a versão do professor. Na versão dele, a grid expande o tamanho para preencher a tela.*/
    & .apresentacao-cafés {
        color: #3C0E0E;
        display: flex;
        flex-direction: column;
        align-items: center;

        & h1 {
            font-size: 40px;
            font-weight: 600;
        }

        & p {
            width: 540px;
            margin-bottom: 30px;
            text-align: center;
        }

        .detalhe {
            width: 65px;
            height: 1px;
            background-color: #3C0E0E;
            margin-bottom: 15px;
        }
    }

    .grade {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 70px;
        padding: 0 330px 0 330px; /*vp: 0 110px*/
        margin-top: 60px;
        text-align: center;
        justify-self: center; /*professor não usa justify-self*/

        & div {
            display: flex;
            flex-direction: column;
            align-items: center;
            color: #ffffff;
            border-radius: 50px;
            padding: 25px 30px;
            height: 470px; /*professor não usa height e width, ele ajusta o tamanho do bloco com o espaçamento do texto. */
            width:330px;

            &.capuccino {
                background-image: linear-gradient(to bottom left,#F6C7C5, #C27D7A);
            }

            &.leite {
                background-image: linear-gradient(to bottom left, #FAFAFA, #541511 150%);
            }

            &.preto {
                background-image: linear-gradient(to bottom left, #0A0909, #541511);
            }

            & h1 {
                font-size: 20px;
                font-weight: normal;
            }

            & h2 {
                margin-bottom: 10px;
            }
            & p {
                width: 300px;
                font-weight: normal;
            }

            & a {
                display: block;
                background-color: white;
                line-height: 46px;
                width: 100%;
                border-radius: 25px;
                text-align: center;
                color: black;                
                font-weight: bold;
                margin-top: 30px;
                box-shadow: 0 8px 7px #00000025;
            }
        }
    }
}



#croissants {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    flex-direction: space-between;
    margin-bottom: 70px;

    & div {
        padding-right: 270px;
    }

    h1 {
        font-size: 16px;
        background-color: white;
        color: #f6c7c5;
        border-radius: 30px;
        text-align: center;
        width: 80px;
    }

    h2 {
        font-size: 80px;
        color: black;
        color: #3C0E0E;
    }

    h3 {
        font-weight: normal;
        font-size: 40px;
        margin-bottom: 15px;
        color: #3C0E0E
    }

    p {
        width: 300px;
        color: #3C0E0E
    }

}

#delivery{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 1115px;
    height: 370px;
    background-image: linear-gradient(#F3C7C4, #541511);
    color: white;
    padding-right: 30px;
    text-align: right;
    border-radius: 50px;

    img{
        margin-top: -100px;
    }

    & h1{
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 30px;
    }

    & a{
        width: 280px;
        line-height: 50px;
        font-weight: bold;
        background-color: white;
        color: black;
        border-radius: 25px;
        display: inline-block;
        text-align:center;
        margin-top: 30px;
        box-shadow: 0 8px 7px #00000025;
    }

}

#sobre{
    margin-top: 70px;
    margin-bottom: 70px;
    display: flex;
    justify-items: space-between;
    margin: 0 500px;

    & div:first-child{
        h1{
            font-size: 20px;
            font-weight: 500;
        }
        h2{
            font-weight: 700px;
            font-size: 48px;
        }
    }

}

#localizacao{
    
    width: 1115px;
    margin: 0 auto;
    border-radius: 50px;
    color: white;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(200deg,#541511A8 5%, #F3C7C4 100%);
    padding-left: 40px;
    position: relative;

       
        
    & h1{
        font-size: 80px;
        line-height: 84px;
        margin-top: 55px;
    }

    .detalhe{
        width: 50px;
        height: 1px;
        background-color: white;
    }

    & h2{
        font-size: 20px;
        font-weight: 500;
        margin: 16px 0;
    }

    & p{
        width: 300px;
        margin-bottom: 40px;
    }

    & a{
        font-weight: bold;
        color:#3C0E0E;
        margin-bottom: 55px;
        display: block;
    }

    & img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

    & div:nth-child(3){
        width: 370px;
        background-image: linear-gradient(200deg,#8f423d 5%, #ffffff 100%);
        padding: 0 34px;
        border-radius: 0 48px 48px 0;
        & h1{
            font-size: 40px;
        }
        & .detalhe{
        width: 100%;
        margin-bottom: 26px;
    }
    & .endereço{
        display: flex;
        align-items: center;
        
        & box-icon{
            width: 60px;
            height: 40px;
            fill: white;
        }

        & p{
            margin-bottom: 0;
        }
    }
    }
    
}

footer{
    display: flex;
    justify-content: space-between;
    margin: 0 400px;
    margin-top: 170px;
    margin-bottom: 170px;
    
    
    & div:first-child{
        width: 300px;
    }

    ul{
        list-style-type: none;
        display: flex;
    }

    ol{
        list-style-type: none;
    }

    li{
        color:#541511;

        & box-icon{
            color:#541511;
        }
    }

    h1{
        font-weight: 500;
        font-size: 20px;
    }

    p{
        color: #541511;
    }
}